.header > .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header {
    padding-top: 40px;
    z-index: 5000;
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        margin: 0;
        margin-left: 205px;
        margin-right: 49px;
        list-style-type: none;
        &_item {
            margin: 0 14px;
        }
        &_link {
            text-decoration: none;
            color: #ffffff;
            font-family: 'Montserrat Light';
            font-size: 14px;
            font-weight: 300;
            transition: 0.4s all;
            &:hover {
                text-decoration: none;
                color: #c7b299;
            }
        }
    }
    .cart {
        width: 18px;
        height: 24px;
        margin-right: 28px;
        border: none;
        background: url("../icons/icon_cart.svg") center (center / cover) no-repeat;
    }
    .search {
        width: 24px;
        height: 24px;
        border: none;
        background: url("../icons/icon_search.svg") center (center / cover) no-repeat;
    }
}