.feed {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #53354a;

    &_item {
        width: 50%;
        img {
            width: 100%;
        }
        &.right {
            padding-left: 85px;
        }
    }

    &_text {
        width: 500px;
        color: #ffffff;
        font-family: 'Cardo Italic';
        font-size: 36px;
        line-height: 42px;
    }

    &_persone {
        margin-top: 30px;
        color: #ffffff;
        font-family: 'Raleway Bold';
        font-size: 13px;
        text-transform: uppercase;
    }
}