.footer {
    &_top {
        padding-top: 71px;
        padding-bottom: 80px;
        background-color: #3a3e64;
    }
    &_bottom {
        padding: 29px 0;
        background-color: #313454;

        p{
            color: #808080;
            font-family: 'Raleway Bold';
            font-size: 14px;
            line-height: 22.5px;
            text-align: center;
            i {
                color: #e84545;
            }
            span {
                color: #ffffff;
            }
        }
    }
    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &_title {
        color: #ffffff;
        font-family: 'Raleway Bold';
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
    }
    address {
        margin-top: 22px;
        opacity: 0.5;
        color: #ffffff;
        font-family: 'Raleway Regular';
        font-size: 14px;
        line-height: 22.5px;
        text-align: center;
    }
    &_links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 21px;

        &_item {
            width: 40px;
            height: 40px;
            border: 2px solid #ffffff;
            margin: 0 3px;
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 18px;
            color: #fff;
            text-decoration: none;
        }
    }
    &_about {
        p {
            margin-top: 21px;
            opacity: 0.5;
            color: #ffffff;
            font-family: 'Raleway Regular';
            font-size: 14px;
            line-height: 22.5px;
            text-align: center;
        }
    }
}