.team {
    padding: 100px 0;

    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &_member {
        &_name {
            margin-top: 30px;
            color: #2d3033;
            font-family: 'Raleway Regular';
            font-size: 22px;
        }
        &_position {
            margin-top: 16px;
            color: #e84545;
            font-family: 'Raleway Regular';
            font-size: 13px;
            text-transform: uppercase;
        }
        &_descr {
            margin-top: 29px;
            color: #6c7279;
            font-family: 'Raleway Regular';
            font-size: 14px;
            line-height: 21px;
        }
        &_social {
            margin-top: 31px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &_link {
                width: 40px;
                height: 40px;
                margin-right: 4px;
                border: 1px solid #e8ecee;
                background-color: #ffffff;
                text-decoration: none;

                display: flex;
                justify-content: center;
                align-items: center;

                color: #c6cacc;
                font-size: 16px;
            }
        }
    }
}