@import "libs/bootstrap-reboot.min";
@import "base/fonts";

.container {
    max-width: 1230px;
    margin: 0 auto;
}

body {
    position: relative;
}
header {
    position: absolute;
    width: 100%;
}

@import "blocks/header";
@import "blocks/promo";
@import "blocks/button";
@import "blocks/projects";