@font-face {
    font-family: 'Cardo Italic';
    src: local('Cardo Italic'), local('Cardo-Italic'), 
         url('../fonts/cardoitalic.woff2') format('woff2'), 
         url('../fonts/cardoitalic.woff') format('woff'), 
         url('../fonts/cardoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans Regular';
    src: local('Open Sans'), local('OpenSans'), 
         url('../fonts/opensans.woff2') format('woff2'), 
         url('../fonts/opensans.woff') format('woff'), 
         url('../fonts/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans Bold';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), 
         url('../fonts/opensansbold.woff2') format('woff2'), 
         url('../fonts/opensansbold.woff') format('woff'), 
         url('../fonts/opensansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway Light';
    src: local('Raleway Light'), local('Raleway-Light'), 
         url('../fonts/ralewaylight.woff2') format('woff2'), 
         url('../fonts/ralewaylight.woff') format('woff'), 
         url('../fonts/ralewaylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway Regular';
    src: local('Raleway Regular'), local('Raleway-Regular'), 
         url('../fonts/ralewayregular.woff2') format('woff2'), 
         url('../fonts/ralewayregular.woff') format('woff'), 
         url('../fonts/ralewayregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway SemiBold';
    src: local('../fonts/Raleway SemiBold'), local('Raleway-SemiBold'), 
         url('../fonts/ralewaysemibold.woff2') format('woff2'), 
         url('../fonts/ralewaysemibold.woff') format('woff'), 
         url('../fonts/ralewaysemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway Bold';
    src: local('Raleway Bold'), local('Raleway-Bold'), 
         url('../fonts/ralewaybold.woff2') format('woff2'), 
         url('../fonts/ralewaybold.woff') format('woff'), 
         url('../fonts/ralewaybold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}